<div class="container">
  <h2>Q. このアプリケーションで何ができるの?</h2>
  <h2 class="ans">A. Todoを管理することができます。</h2>

  <h2>Q. 既存のTodoアプリと何が違うの?</h2>
  <h2 class="ans">A. 以下のような違いがあります。</h2>
  <div class="col-md-8 col-md-offset-1">
    <table>
      <thead>
        <tr>
          <th>比較ポイント</th>
          <th>TodoアプリA</th>
          <th>TodoアプリB</th>
          <th>Terminator</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>ホーム画面で表示されるTodoの数</th>
          <th>7-8個</th>
          <th>10-11個</th>
          <th>3個</th>
        </tr>
      </tbody>

    </table>
  </div>

</div>
