<div class="about jumbotron">
  <h3>Q. このアプリケーションで何ができるの?</h3>
  <h3 class="ans">A. Todoを管理することができます。</h3>
</div>

<div class="about jumbotron">
  <h3>Q. 既存のTodoアプリなんて山ほどあるのに, なぜ作ったの?</h3>
  <h3 class="ans">A. 既存のTodoアプリに以下のような不満を感じたからです。</h3>
  <ul>
    <li>表示されるTodoが多すぎる</li>
    <li>Todoを減らす気にならない点(これは私が悪い)</li>
    <li>通知機能がない点</li>
    <li>記入できる情報量が少ない点</li>
  </ul>
</div>

<div class="about jumbotron">
  <h3>Q. 既存のTodoアプリと何が違うの?</h3>
  <h3 class="ans">A. 以下のような違いがあります。</h3>
  <ul>
    <li>表示されるTodoの数を制限</li>
    <li style="list-style:none;">表示数を制限することでTodoに手をつけやすく</li>
    <li>Twitterアカウントのみでログイン可能</li>
    <li style="list-style:none;">面倒なログイン処理を簡潔に</li>
    <li>Todoを完了した時に, 一定確率でTwitter上で通知</li>
    <li style="list-style:none;">TwitterにてTodoを通知</li>
    <li style="list-style:none;">どうせ皆さん, メールよりもTwitterを見る頻度の方が高いでしょう?</li>
  </ul>
</div>

<div class="about center jumbotron">
  <div class="btn btn-lg btn-primary">
    <%= render "devise/shared/links" %>
  </div>
</div>
