<tr id="task-<%= task.id %>">
  <td><%= link_to "Done", task_path(task), method: :delete, class: "btn btn-primary center" %></td>
  <td class="name"><%= task.name %></td>
  <td class="timestamp">
    締め切り: あと<%= time_ago_in_words(task.deadline) %>です
  </td>
</tr>
