/* bootstrap */
$theme-colors: (
  primary: skyblue,
  main: black
);

$headings-line-height: 1.5;
$line-height-base: 1.65;
$letter-spacing: .1em;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

$modal-inner-padding: 30px;
$modal-title-padding: 30px;

@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray-dark: #546E7A;
$b-blue: #2D6FAE;

@mixin box-sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// 第一引数で基準となる画面幅のフォントサイズ、第二引数で基準となる画面幅を入力
@function get_vw($size, $viewport:320){
  $rate: 100 / $viewport;
  @return $rate * $size * 1vw;
}

@mixin fz_vw($font_size:10){
  font-size: $font_size * 1px;
  font-size: get_vw($font_size);
}

body{
  @include fz_vw(20);
}

/* universal */
body {
  padding-top: 6%;
  text-align: justify;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  width: 100% !important;
} 

.row {
  margin-top: 10%;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 1%;
  }
}

.alert {
  margin-top: 5%;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 3%;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 3%;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* list todos */
.collection {
  margin: auto;
  li {
    list-style: none;
    margin-bottom: 1%;
    span {
      width: 20%;
      font-size: medium;
    }
  }
}

.tasks-columns {
  margin: auto;
  width: 90%;
  border: 1px black solid;
  tr {
    border: 10px white solid;
  }
}

/* about partial */
.about {
  .ans {
    color: $b-blue;
  }
  ul {
    font-size: large;
  }
}

/* links */
.login-path {
  text-decoration: none;
  color: ghostwhite;
  &:visited, &:focus, &:hover {
    text-decoration: none;
    color: ghostwhite;
  }
}

/* forms */
.form-element {
  margin-bottom: 1%;
  border-radius: 5px;
}


input[type="text"] {
  width: 100%;
}

textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  @include box_sizing;
}

input {
  margin-left: 10px;
  height: auto !important;
}

/*
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
*/

input {
  height: auto !important;
}

/* sidebar */
aside {
  section.user_info {
    margin-top: 1%;
  }
  section {
    padding: 1% 0;
    margin-top: 1%;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 1%;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 1%;
      margin-top: 0;
    }
  }
}

#error_explanation {
  color: red;
  ul {
    text-align: left;
    color: red;
    margin: 0 0 3% 0;
  }
  margin: auto;
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.gravatar {
  floag: left;
  margin-right: 1%;
}

.gravatar_edit {
  margin-top: 1%;
}

/* header */
#logo {
  float: left;
  margin-right: 1%;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 1%;
  font-weight: bold;
  
  &:hover {
    color: white;
    text-decoration: none;
  }
}

header {
  .dropdown-toggle {
    float: right;
  }
}

/* footer */
footer {
  text-align: center;
  margin-top: 3%;
  padding-top: 1%;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  
  /* a { */
  /*   color: gray; */
  /*   &:hover { */
  /*     color: $gray-light; */
  /*   } */
  /* } */
  /* small { */
  /*   float: left; */
  /* } */
  /* ul { */
  /*   float: right; */
  /*   list-style: none; */
  /*   li { */
  /*     float: left; */
  /*     margin-left: 10px; */
  /*   } */
  /* } */
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box-sizing;
}